.before-footer-section {
  padding: 7rem 0 12rem 0 !important;
}
.blog-section {
  padding: 7rem 0 12rem 0;
}
.blog-section .post-entry a {
  text-decoration: none;
}
.blog-section .post-entry .post-thumbnail {
  display: block;
  margin-bottom: 20px;
}
.blog-section .post-entry .post-thumbnail img {
  border-radius: 20px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.blog-section .post-entry .post-content-entry {
  padding-left: 15px;
  padding-right: 15px;
}
.blog-section .post-entry .post-content-entry h3 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 600;
  margin-bottom: 7px;
}
.blog-section .post-entry .post-content-entry .meta {
  font-size: 14px;
}
.blog-section .post-entry .post-content-entry .meta a {
  font-weight: 600;
}
.blog-section .post-entry:hover .post-thumbnail img,
.blog-section .post-entry:focus .post-thumbnail img {
  opacity: 0.7;
}

.footer-section {
  padding: 80px 0;
  background: #ffffff;
}
.footer-section .relative {
  position: relative;
}
.footer-section a {
  text-decoration: none;
  color: #2f2f2f;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.footer-section a:hover {
  color: rgba(47, 47, 47, 0.5);
}
.footer-section .subscription-form {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}
@media (min-width: 992px) {
  .footer-section .subscription-form {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}
.footer-section .subscription-form h3 {
  font-size: 18px;
  font-weight: 500;
  color: #3b5d50;
}
.footer-section .subscription-form .form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}
.footer-section .subscription-form .form-control:active,
.footer-section .subscription-form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #3b5d50;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.footer-section .subscription-form .form-control::-webkit-input-placeholder {
  font-size: 14px;
}
.footer-section .subscription-form .form-control::-moz-placeholder {
  font-size: 14px;
}
.footer-section .subscription-form .form-control:-ms-input-placeholder {
  font-size: 14px;
}
.footer-section .subscription-form .form-control:-moz-placeholder {
  font-size: 14px;
}
.footer-section .subscription-form .btn {
  border-radius: 10px !important;
}
.footer-section .sofa-img {
  position: absolute;
  top: -200px;
  z-index: 1;
  right: 0;
}
.footer-section .sofa-img img {
  max-width: 380px;
}
.footer-section .links-wrap {
  margin-top: 0px;
}
@media (min-width: 992px) {
  .footer-section .links-wrap {
    margin-top: 54px;
  }
}
.footer-section .links-wrap ul li {
  margin-bottom: 10px;
}
.footer-section .footer-logo-wrap .footer-logo {
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  color: #3b5d50;
}
.footer-section .custom-social li {
  margin: 2px;
  display: inline-block;
}
.footer-section .custom-social li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #dce5e4;
  color: #3b5d50;
  border-radius: 50%;
}

.service .service-icon {
  border-radius: 10px;
  flex: 0 0 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #3b5d50;
  margin-right: 20px;
  color: #ffffff;
}

.container-form {
  background-color: rgb(221, 221, 221);
  padding: 7rem 0;
}

.form-control {
  height: 50px;
  font-family: "Inter", sans-serif;
}

.form-control::-webkit-input-placeholder {
  font-size: 14px;
}
.form-control::-moz-placeholder {
  font-size: 14px;
}
.form-control:-ms-input-placeholder {
  font-size: 14px;
}
.form-control:-moz-placeholder {
  font-size: 14px;
}
.btn-button > button {
  border-radius: 30px;
  font-size: large;
  padding: 1rem 2rem;
}

.default-p {
  color: #98aaa3;
}
.nav-section {
  background-color: #3b5d50;
  height: 535px;
}
.active-a {
  border-bottom: 5px solid #f9bf29;
  padding-bottom: 4px;
}

.text-section-btn {
  border-radius: 35px;
}
.shopnow {
  background-color: #f9bf29;
  border: 1px solid #f9bf29;
}

.nav-li {
  color: #98aaa3;
  font-weight: 600;
}

.img-section {
  position: absolute;
  right: 0px;
  width: 780px;
  z-index: 1;
}
.explore {
  background: transparent;
  color: white;
  border: 2px solid #98aaa3;
}
.explore:hover {
  border-color: white;
}
.dots-green {
  width: 260px;
}

/* ------------------------------- */
.under-top {
  padding-top: 120px;
  background-color: #eff2f1;
}
@media only screen and (max-width:576px){
  .overflow-fixed{
    width: 450px;

  }
  html{
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 700px) {
  .img-section {
    position: relative;
    width: 600px;
    top: -70px;
  }
  .dots-green {
    position: absolute;
  }
  .nav-link {
    padding: 0px;
  }
  .fixoverflow{
    /* width: 370px; */
    width: 100%;
  }
}
@media screen and (max-width: 1000px) and (min-width: 700px) {
  .img-section {
    width: 600px;
    position: relative;
    top: -70px;
  }
  .dots-green {
    position: absolute;
  }
}
@media screen and (max-width: 1100px) and (min-width: 1000px) {
  .img-section {
    width: 650px;
  }
}
/* @media screen and (min-width: 1100px) {
  .img-section {
    right: 0px;
  }
  .dots-green {
    position: relative;
    right: -100px;
    top: 10px;
  }
} */
