.service-section,
.product-section,
.testomonial-section{
    padding: 10% 5% 5% 5%;
}
.feature .icon:before{
    content: " ";
    width: 33px;
    height: 33px;
    position: absolute;
    background: rgba(59, 93, 80, 0.2);
    border-radius: 50%;
    left:20px;
    top:14px;
}

.service-d{
    font-size: 0.8rem;
    color: #777777;
}

.product-d{
    font-size: 16px;
    text-align: start;
}
.service-title{
    font-size: 20px;
}

.exp-btn{
    border:none;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    background-color: #2f2f2f;
    color: #FFFFFF;
}
.def-h2{
    padding-left: 0px;
    margin-left: 0px;
}

.product-img{
    width:auto;
}
.product-name, 
.product-price{
    text-align: center;
}

.product:hover .product-img{
    transform: translateY(-30%);
    transition: 0.3s;
}
.icon-cont{
    display: flex;
    justify-content: center;
}
.plus img{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #222222;
    bottom: 0px;
    z-index: 3;
    left: 43%;
    border-radius: 50%;
    color: white;
    transition: 0.3s;
    opacity: 0;
}

.product:hover .plus{
    transform: translateY(10px);
    opacity: 1;
}

.product-card{
    position: relative;
    height: 400px;
}
.card-back{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0%;
    background-color: #dce5e4;
    transition: 0.3s;
    border-radius: 10px;
    z-index: 0;
}
.product-card .card-img{
    position: relative;
    transition: 0.3s;
    z-index: 2;
}
.text{
    position: relative;
    z-index: 2;
}

.plus{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #222222;
    bottom: 0px;
    z-index: 3;
    left: 43%;
    border-radius: 50%;
    color: white;
    transition: 0.3s;
    opacity: 0;
}
.plus i{
    position: relative;
    top: 6px;
    left: 13px;
}
.card-link{
    text-decoration: none;
}
.atag{
    text-decoration: none;
    color: #222;
}

.product-card:hover .card-img{
    transform: translateY(-30px);
    
}
.product-card:hover .card-back{
    height: 60%;
}
.product-card:hover .plus{
    transform: translateY(25px);
    opacity: 1;
}
.plus i{
    color: white;
}

.tst-description{
    margin: 0px 30% 0px 30%;
}
.text-tst{
    padding: 0 20% 0 20%;
    text-align: center;
}
.person-img{
    border-radius: 50%;
    height: 80px;
}
.padding-20{
    padding-bottom: 40px;
}
.btn-prev,
.btn-next{
    padding: 10px;
}
.next-prev{
    padding: 20px;
    border-radius: 50%;
    color: #777777;
    background-color: rgba(59, 93, 80, 0.2);
}
@media screen and (max-width: 600px) {

    
}