.product-card{
    position: relative;
    height: 400px;
}
.card-back{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0%;
    background-color: #dce5e4;
    transition: 0.3s;
    border-radius: 10px;
    z-index: 0;
}
.product-card .card-img{
    position: relative;
    transition: 0.3s;
    z-index: 2;
}
.text{
    position: relative;
    z-index: 2;
}

.plus{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #222222;
    bottom: 0px;
    z-index: 3;
    left: 43%;
    border-radius: 50%;
    color: white;
    transition: 0.3s;
    opacity: 0;
}
.plus i{
    position: relative;
    top: 4px;
    left: 13px;
}
.card-link{
    text-decoration: none;
}
.atag{
    text-decoration: none;
    color: #222;
}

.product-card:hover .card-img{
    transform: translateY(-30px);
    
}
.product-card:hover .card-back{
    height: 60%;
}
.product-card:hover .plus{
    transform: translateY(20px);
    opacity: 1;

}



@media only screen and (max-width: 768px) {
    .card_container{
        margin-top: 200px;
    }
    .product-card{
        height: 700px;
    }
    .plus{
        left: 45%;

    }

}
@media only screen and (max-width: 992px) {
    .card_container{
        margin-top:30px;
    }

}